.parentheader 
{

display: flex;
    height: 84px;
    background: #101010;
}
.title
{
  
    width: 114px;
    height: 43px;
    padding-left: 43px;
    padding-top: 21px; 
  
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px; 
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.secondepart
{
    display: flex;
    margin-right: 42.72px;
    margin-left: 976px;
}
.userName
{
    width: 121px;
    height: 24px;
   margin-right: 25px;
    align-self: center;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
letter-spacing: 0px;
text-align: left;

    
}

.userimg
{
    /* Rectangle */
    align-self: center;
width: 44px;
height: 44px;
border-radius: 22px;
transform: rotate(-0.36deg);
background: url('/public/userimg.png'  );
background-size: contain;


}