* {
  margin: 0;
  
}
html,body {
  min-height: 100vh;
 }
html
{
  background-color : #E5E5E5;
}
body
{
  background: #292929;
  font-family: 'Source Sans Pro', sans-serif;
}
a 
{
  text-decoration: none;
}
a:visited
{
  color: none;
}